
Example 1/hello.py
Example 1/Luke test/pythontest.py
Example 1/Luke test/saturday.ipynb
Example 1/new.ipynb
python session 2.ipynb
python_session1.ipynb
Week 2/Week_2_draft.ipynb
Week 2/Week_2_draft_2.ipynb
Python Session 3.ipynb
Week 2/HLT_3_text_file
Week 2/Lesson_4.ipynb
Week 2/Numbers2
Week 2/Week_2_HLT_4.ipynb
Week 3 Numpy/test_ignore.ipynb
Numpy Session.ipynb
Pandas Session 2.ipynb
ign.csv
Pandas Session 1.ipynb
vet_data.csv
CV & LinkedIn Training Data.pdf
Pandas 1 & 2 DA.pdf
Python Session 1 DA.pdf
NumPy DA.pdf
Python Session 3 DA.pdf
Python Session 2 DA-TTA-PETE.pdf
Data Visualisation with Altair DA.pdf
Data Vis Altair Session.ipynb
Week 3&4 Pandas/Pig_Python.ipynb
Week 3&4 Pandas/Pig_Python.ipynb
Week 3&4 Pandas/Pig_Python.ipynb
Week 3&4 Pandas/Pig_Python.ipynb
Algorithms & SKLearn DA.pdf
Power BI optional.pdf
kmeans.ipynb
